.pozeray-icon {
	position: fixed;
	bottom: 0;
	right: 0;
	font-family: monospace;
	padding: 10px 15px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #F1F1F1;
}

.pozeray-console-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 10000;
	display: none;
	background-color: #F1F1F1;
	border-top: 1px solid #CCC;
	padding: 0 10px;
	box-sizing: border-box;
	opacity: 0.9;
	font-family: arial;
	font-size: 13px;
}
.pozeray-console-container.active {
	display: block;
}
.pozeray-console-filters-container {
	border-bottom: 1px solid #CCC;
	padding: 5px 0;
}
.pozeray-console-filters-container label {
	margin-right: 15px;
}
.pozeray-console-close {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4UlEQVR4Xo2TYQrCMAyFN397AG8oCKMwESbCYCBMBhsT/SXeUBA8gNSXakghXdyDt7Rd8y10Tea9D4Z62NHYMlTDd57zYgd7sgWBqmjfSABSy4sWBNol9vULPJ6Z1pjnueMJxmWoUuvB9DIQtR154l1FuVQBQQaEIlVJsNYeOSfEL+AHuSKsFcJIFoBAbgKxkwWgtTIAbwoaIKfdIMCT6rCnSgKQfAy37L9aQA4CkGQsKhXwJgE5MkRuonbJPWDchZoqWE6c9hD9nTPCNtN68RcuMXVmMznuxrgjm3ntLM32AV9m7vTAsTYoAAAAAElFTkSuQmCC);
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 11px;
}
.messages-container {
	height: 280px;
	overflow-y: scroll;
	background-color: white;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.message-container {
	border-left: 8px solid transparent;
	padding: 5px 15px;
}
.message-container:nth-child(odd) {
	background-color: #F7F7F7;
}
.message-container.error {
	border-left-color: #F00;
}
.message-container.warn {
	border-left-color: #FFEB00;
}
.message-container.info {
	border-left-color: #00A3FF;
}
.message-container.debug {
	border-left-color: #AD00FF;
}
.message-area {
	cursor: pointer;
	background-color: #D8D8D8;
	padding: 1px 7px;
	border: 1px solid #B9B9B9;
	border-radius: 3px;
	margin-right: 7px;
}